/* * {
    box-sizing: border-box;
} */

body {
    background-color: #262626;
    font-family: helvetica;
}
/************** HEADER *****************/
div.header-img {
    width: 100%;
    background-color: #1a1a1a;
    overflow: hidden;
    position: fixed;
    
}

#header-img {
    width: 350px;
    filter: invert(100%);
    margin: auto;
    display: block;
}

div.nav-bar {
    overflow: hidden;
    position: fixed;
    background-color: #1a1a1a;
    width: 100%;
    top: 58px;
}

.nav-link {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 14px 50px;
    float: left;
    transition: .5s ease;
}

.nav-link:hover {
    background-color: #008fb3;
}

/* #header-img {
    width: 150px;
    height: 150px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    

}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}

a {
    text-decoration: none;
}

#nav-bar {
    width: 100%;
} */

/************** FORM *****************/
/* .sign-up-page {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-form {
    text-align: center;
} */

/************** MAIN *****************/
.main-info {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
}


/* img {
    width: 30px;
    height: 30px;
} */

/************** VIDEO *****************/
/* .video-page {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/************** FOOTER *****************/